name: update tianheg profile

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Update README.md
      run: node index.js > README.md
    - name: Install dependecies
      uses: tianheg/github-actions@pipenv
      with:
        command: install --dev # Install all dependencies, including development ones
    - name: Build
      uses: tianheg/github-actions@pipenv
      with:
        command: run build
    - name: Commit change & Push
      run: |
          git diff
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -am "bot: update README.md automatically"
          git push -f origin main
